{% extends 'base.html' %}

{% block content %}
    <h1>Search film here!</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <p>
        {{ form.namefilm.label }}<br>
        {{ form.namefilm() }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
    </form>
    {% if films %}
        {% for film in films %}
            {% include '_filmshort.html' %}
            {% if not current_user.is_viewed(film) %}
            <a href="{{ url_for('addfilm', film_id=film.id) }}">mark as viewed</a><br>
            {% else %}
            <p>Viewed</p>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}