<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>CinemaStats</title>
    {% endblock %}
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" height="50" width="50" class="me-2">
            <span class="fs-4">CinemaStats</span>
        </a>
        <ul class="nav nav-pills">
            {% block nav %}
            {% endblock %}
        </ul>
    </header>
</div>
<!-- Your page content -->
<div class="container">
    {% block content %}{% endblock %}
</div>
<div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" height="50" width="50" class="me-2">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2023 CinemaStats, Inc</span>
        </div>
    </footer>
</div>
{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>