{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block nav %}
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Home</a></li>
    {% if current_user.is_anonymous %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a></li>
    {% else %}
        <li class="nav-item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav-link"
                                role="button">Profile</a></li>
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="btn btn-outline-primary me-2">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% if current_user.is_anonymous %}
        <div>
        {% include 'begin.html' %}
        </div>
    {% else %}
        <h1>Привет, {{ current_user.username }}</h1>
        {{ render_form(form) }}
        {% if films %}
            {% for film in films %}
                {% include '_filmcard.html' %}
            {% endfor %}
        {% else %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 mt-1">
                <div class="col">
                    <h2 align="center">Топ 100 фильмов!</h2>
                    {% for film in films_top %}
                        {% include '_filmcard.html' %}
                    {% endfor %}
                <a href='{{ url_for('top_100') }}'>View more...</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}