{% extends "base.html" %}
{% from 'bootstrap5/pagination.html' import render_pager, render_pagination %}

{% block nav %}
    <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link">Home</a></li>
    {% if current_user.is_anonymous %}
        <li class="nav-item"><a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a></li>
    {% else %}
        <li class="nav-item"><a href="{{ url_for('user', username=current_user.username) }}" class="nav-link active"
                                role="button">Profile</a></li>
        <li class="nav-item"><a href="{{ url_for('logout') }}" class="btn btn-outline-primary me-2">Logout</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Пользователь: {{ user.username }}</h1>
    <p>Кол-во просмотренных фильмов: {{ count }}</p>
    <div class="row row-cols-2 g-2 mt-4">
        <div class="col w-50">
            <h4>Просмотренные фильмы</h4>
            {% for film in films %}
                {% include '_filmcard.html' %}
            {% endfor %}
        {{ render_pagination(pagination) }}
        </div>
        <div class="col w-25">
            <h4>Статистика просмотра</h4>
            <h6>Любимый актер</h6>
            <div class="d-flex align-items-center border mb-2 rounded">
                <div class="flex-shrink-0">
                    {% if top_actors %}
                        <img src="{{ top_actors.photo }}" alt="..." width="88" height="116" class="rounded-start">
                    {% else %}
                        None
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3 fs-5">
                    {% if top_actors %}
                        {{ top_actors.name }}
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            </div>

            <h6>Любимый режиссер</h6>
            <div class="d-flex align-items-center border mb-2 rounded">
                <div class="flex-shrink-0">
                    {% if top_directors %}
                        <img src="{{ top_directors.photo }}" alt="..." width="88" height="116" class="rounded-start">
                    {% else %}
                        None
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3 fs-5">
                    {% if top_directors %}
                        {{ top_directors.name }}
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            </div>

            <h6>Любимый жанр</h6>
            <div class="d-flex align-items-center border mb-2 rounded">
                <div class="flex-grow-1 ms-3 fs-4">
                    {% if top_genres %}
                        {{ top_genres[0] }}
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            </div>
            <h6>Любимый год фильмов:</h6>
            <div class="d-flex align-items-center border mb-2 rounded">
                <div class="flex-grow-1 ms-3 fs-4">
                    {% if top_years %}
                        {{ top_years[0] }}
                    {% else %}
                        Нет
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    {#    {% for film in films %}#}
    {#        {% include '_filmshort.html' %}#}
    {#    {% endfor %}#}
{% endblock %}